services:
  mongo:
    image: mongo:7
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - project_network

  web:
    image: vishu7020/gym-django:latest
    container_name: django_app
    restart: always
    depends_on:
      - mongo
    expose:
      - "8000"
    env_file:
      - .env
    networks:
      - project_network

volumes:
  mongo_data:

networks:
  project_network:
