services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - project_network

  web:
    image: vishu7020/gym-django:latest
    container_name: django_app
    restart: always
    depends_on:
      - mongo
    ports:
      - "8000:8000"
    environment:
      MONGO_HOST: mongo
      MONGO_PORT: 27017
    networks:
      - project_network

volumes:
  mongo_data:

networks:
  project_network:
