services:
  mongo:
    image: mongo:7
    container_name: mongo_db
    restart: always
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: gym_database
    networks:
      - project_network

  redis:
    image: redis:7
    container_name: redis_cache
    restart: always
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data   
    networks:
      - project_network

  web:
    image: vishu7020/gym-django:latest
    container_name: django_app
    restart: always
    depends_on:
      - mongo
<<<<<<< HEAD
    port:
      - "8001:8000"
=======
    expose:
      - "8000"
>>>>>>> deploy
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    networks:
      - project_network

  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: always
    command: tunnel run
    volumes:
      - ./cloudflared:/etc/cloudflared
      - ~/.cloudflared:/root/.cloudflared:ro
    networks:
      - project_network

volumes:
  mongo_data:
  redis_data:
  static_volume:
  media_volume:


networks:
  project_network:
    driver: bridge
