{% extends "base.html" %}

{% block title %}Forget Password{% endblock %}

{% block content %}
    <main>
        <div class=" bg-black min-h-screen flex items-center justify-center border-2 border-gray-300 border">
            <div class="w-full max-w-md bg-gray-800 rounded-2xl shadow-xl p-8 border-1 border-blue-700 border">
                <!-- Header -->
                <div class="text-center mb-8">
                    <h1 class="text-4xl font-extrabold text-green-600 mb-2">Welcome👋</h1>
                    <p class="text-white">Login to continue to your account</p>
                </div>
                
                <!-- Login Form -->
                <form method="post" action="" class="space-y-6">
                    {% csrf_token %}
                    <!-- UserName -->
                    <div class="">
                      <label class="vlock text-sm font-semibold text-white mb-1">Email</label>
                      <input type="email" name="email" placeholder="Email" required class="input outline hover:outline-blue-800" />
                    </div>

                    <div>
                      <label class="vlock text-sm font-semibold text-white mb-1"> Gym Name</label>
                      <select name="gymname" required class="input outline hover:outline-blue-800">
                        <option>Your Gym Name</option>
                        {% for orgname in orgnames %}
                        <option value="{{orgname.id}}">
                          {{orgname.orgname | upper }}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div>
                      <label class="vlock text-sm font-semibold text-white mb-1">Category</label>
                      <select name="category" required class="input outline hover:outline-blue-800">
                        <option value="">Category</option>
                        <option value="member">Member</option>
                        <option value="trainer">Trainer</option>
                      </select>
                    </div>
                    <!-- Submit -->
                    <button type="submit" class="w-full py-3 bg-blue-400 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-200">
                      Send OTP
                    </button>
                </form>
      </div>
    </div>
  </main>


  <style>
      .input {
    width: 100%;
    padding: 12px;
    background: #111827;
    border: 1px solid #374151;
    border-radius: 0.75rem;
    color: white;
  }

  .input::placeholder {
    color: white;
    opacity: 1;
  }

  /* Select text color */
  select.input {
    color: white;
  }

  select option {
    background: #111827;
    color: white;
  }
  </style>
{% endblock %}