{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<main>
    <div class="bg-black min-h-screen flex items-center justify-center">
        <div class="w-full max-w-md bg-gray-800 rounded-2xl shadow-xl p-8 border border-blue-700">

          <!-- Header -->
            <div class="text-center mb-8">
              <h1 class="text-4xl font-extrabold text-green-600 mb-2">Reset Password</h1>
              <p class="text-white">Enter your new password</p>
            </div>

            <!-- Form -->
            <form method="post" class="space-y-6">
              {% csrf_token %}
              <div>
                <label class="block text-sm font-semibold text-white mb-1">New Password</label>
                <input type="password" name="password" required class="w-full px-4 py-3 text-white placeholder:text-white
                rounded-lg border border-white bg-transparent focus:outline-none focus:ring-2 focus:ring-blue-500" />
              </div>
            <button type="submit"
                class="w-full py-3 bg-green-500 text-white font-semibold rounded-lg hover:bg-green-700 transition">
                Reset Password
            </button>
          </form>
        </div>
    </div>
</main>
{% endblock %}
