name: Build & Deploy Django App

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: docker build -t vishu7020/gym-django:latest .

    - name: Push Docker image
      run: docker push vishu7020/gym-django:latest

    - name: Deploy to server
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          docker rm -f django_app || true
          docker pull vishu7020/gym-django:latest

          docker run -d \
            --name django_app \
            --restart always \
            -p 8000:8000 \
            --env-file /var/www/gym-django/.env \
            vishu7020/gym-django:latest