name: Build & Deploy Django App

on:
  push:
    branches: []

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t vishu7020/gym-django:latest .

      - name: Push Docker image
        run: |
          docker push vishu7020/gym-django:latest

